<h1>A closer look at the Electoral College</h1>

<p>
  With the general election heating up I thought it would be a good moment to take an analytical view of the electoral college.
</p>

<p>
  For those unaware, the electoral college is the actual system in which we elect a president. Every state has a number of electors assigned to it which is equal to your state's total house representatives plus two senators.
</p>

<p>
  These electors are the people who technically elect our president. It's not a free for all though, they are are legally bound to voting for one of the candidates based on the votes you cast in your state. So if 60% of the voters in my home state of NY vote for Clinton this fall, she gets the 31 electoral votes.
</p>

<p>
  The electoral college process dates back to the birth of the republic, and the founding fathers had two reasons for its creation. The first one was more of a fear from James Madison, worried that after George Washington served his time as president the people might elect a tyrant. Electors would ideally help be a buffer to make sure that never happened.
</p>

<p>
  The second reason it was created is to help equal out the voting power of the political majority & minority states. Back then, this was to prevent the south from forever being the minority. However in modern day, one of the popular phrases you might hear someone mention is that Wyoming has 4x the voting power of someone in NY, and this is technically true.
</p>

<p>
  In Wyoming, each of the 3 electoral votes is decided by about 190K voters. In contrast, each of NY’s 33 electoral votes is decided by about 630K people.
</p>

<a href="/img/electoral_vote_explained.png"><img src="/img/electoral_vote_explained.png"></a>
<p style="text-align: center; font-size: 10px">
  <i>Click for enlarged version</i>
</p>

<p>
  While this does give voters in Wyoming more say, it doesn’t actually give them any electoral advantage holistically speaking. In fact, the current electoral college system actually inflates the power of larger states. To understand why, let's look at the last US presidential election in 2012.
</p>

<p>
  I’m going to focus on two states with a clear blue majority & incredibly high population, NY & CA. If the electoral college works as intended, these two states shouldn’t decide the election alone.
</p>

<p>
  In 2012, NY casted close to 4,485,741 votes for Obama and CA casted about 7,854,285. Combined, that accounts for about 9% of every vote casted in 2012. However, the combined electoral college votes of NY & CA is about 16%.
</p>

<p>
  The biggest reason this number is so inflated? Every state awards electoral votes on a winner take all basis and makes the exact proportion of the popular vote irrelevant. Lets look at California as an example, which has 55 electoral votes up for grabs. In 2012 Obama won 60% of the popular vote, and got all 55 electoral votes. However, if we only gave him 60% of the electoral votes, <i>because that's proportionally how much he won in the popular vote</i>, he’d have only only won about 33 electoral votes.
</p>

<h3>
  What if we recalculate the entire 2012 election with this methodology?
</h3>

<p>
  These are the electoral college votes given out in 2012. Y Axis is republican electoral votes, X Axis is democrat electoral votes.
</p>

<img src="/img/actual_scatter.png">

<p>
  And this is what it would look like if we assigned electoral votes proportionally.
</p>

<img src="/img/adjusted_scatter.png">

<p>
  The electoral college race gets a lot closer, and reflects the popular vote. Obama would have approximately 271 delegates, Romney 259. Which is highly resemblant of the popular vote, where Obama took 51.1% and Romney 47.2%.
</p>

<p>
  Another huge implication of proportionally awarding electoral votes is how it could change swing states. Swing states are a few special states like Florida & Ohio where the demographics are basically 50/50 politically. Traditionally campaigns spend most of their time & money in these states, ignoring states that always go blue or red. Why bother if you know you’re going to win or lose all of the electoral votes in that state? Hence the formation of swing states, the few places in the country you can truly fight over for electoral votes.
</p>

<p>
  You’ll notice in doing this we have some major implications for our electoral map. Large states that always vote the same way like California, Texas & NY lose quite a bit of value. Several states such as a New Hampshire, Wisconsin and Mississippi automatically become purple. Except for a few outliers, most the states don’t rest too far from that purple trend line.
</p>

<p>
  In essence, politicians need something close to a 50 state strategy, and your vote suddenly becomes significantly more important even if you don’t live in a swing state.
</p>

<p>
  So, the next time someone says we need to abolish the electoral college, tell them no, we need to abolish the winner take all system.
</p>
