<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Joe Kent</title>
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700,400italic,300italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="background">
      <header>
        <div class="top">
          <h1>Joe</h1>
          <h3>Kent</h3>
        </div>
        <div class="bottom">
          <p>Not your average Joe</p>
        </div>
      </header>
    </div>

    {{{body}}}

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="papaparse.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
